# Build output
dist/
build/

# Dependencies
node_modules/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Test coverage
coverage/
apps/*/coverage/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/install-state.gz